-
  const getEntityName = (entity) => entity.constructor.name
  const getInputName = (entity, property) => `${_.lowerFirst(getEntityName(entity))}[${property}]`;
  const getTKey = (entity, property) => `views.${_.lowerFirst(getEntityName(entity))}.${property}`;

mixin input(entity, propertyName, errors = [], defaultValue = '')
  - error = _.get(errors, propertyName)
  .form-group.mb-3
    label(for=propertyName).form-label= t(getTKey(entity, propertyName))
    input(
      name=getInputName(entity, propertyName)
      class= `form-control ${errors[propertyName] ? 'is-invalid' : ''}`
      id=propertyName
      value=_.get(entity, propertyName, defaultValue)
    )&attributes(attributes)
    if error
      .form-control-feedback.text-danger= error.map(({ message }) => message).join('. ')

mixin textarea(entity, propertyName, errors = [])
  - error = _.get(errors, propertyName)
  .form-group.mb-3
    label(for=propertyName).form-label= t(getTKey(entity, propertyName))
    textarea(
      name=getInputName(entity, propertyName)
      class= `form-control ${errors[propertyName] ? 'is-invalid' : ''}`
      id=propertyName
    )&attributes(attributes)= _.get(entity, propertyName, '')
    if error
      .form-control-feedback.text-danger= error.map(({ message }) => message).join('. ')

mixin select(entity, propertyName, options, value, caption, notSelectedCaption = '', errors = [])
  -
    const error = _.get(errors, propertyName)
    let id;
    const propertyIdData = _.get(entity, propertyName, '')
    if (_.isArray(propertyIdData)) id = _.map(propertyIdData, (i) => i.id)
    else id = propertyIdData

  .form-group.mb-3
    label(for=propertyName).form-label= t(getTKey(entity, propertyName))
    select(
      name=getInputName(entity, propertyName)
      class= `form-select ${errors[propertyName] ? 'is-invalid' : ''}`
      id=propertyName
    )&attributes(attributes)
      if (notSelectedCaption)
        option(value='')= notSelectedCaption
      for item in options
        -
          const itemValue = _.get(item, value);
          const itemCaption = _.get(item, caption);
          const isSelected = _.isArray(id) ? _.includes(id, itemValue) : id === itemValue;

        option(value=itemValue, selected=isSelected)= itemCaption
    if error
      .form-control-feedback.text-danger= error.map(({ message }) => message).join('. ')

mixin submit(form = null)
  .form-group
    input(class='btn btn-primary w-100' type='submit')&attributes(attributes)

mixin form(type = 'get')
  form(method= type.toLowerCase() === 'get' ? 'GET' : 'POST')&attributes(attributes)
    input(
      name="_method"
      type="hidden"
      value= type
    )
    block

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)
