extends ../layouts/application.pug

block header
    div.text-center
        = t('views.task.table')

block content
    a.btn.btn-primary.float-right(href='/tasks/new')= t('buttons.new')
    table.table.table-striped
        thead
            tr
                th= t('views.task.name')
                th= t('views.task.labels')
                th= t('views.task.status')
                th= t('views.task.creator')
                th= t('views.task.executor')
        tbody
          each task in tasks
              tr
                  td
                    a(href=`/tasks/${task.id}`)= task.name
                  td
                    for label in task.labels
                      .badge.bg-secondary.m-1= label.name
                  td= task.status && task.status.name
                  td= task.creator && task.creator.email
                  td= task.executor && task.executor.email || t('views.task.nonExecutor')
