include ../mixins/forms.pug
include ../mixins/common.pug

doctype html
html(lang="en").h-100
  head
    title Tasks Manager
    link(
      rel='stylesheet'
      href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css'
      integrity='sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK'
      crossorigin='anonymous'
    )
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css'))

  body.h-100.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3.px-3
      a.navbar-brand(href=route('root'))= t('appName')
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href=route('users'))= t('layouts.application.users')
        ul.navbar-nav.mr-auto
          if reply.request.signedIn
            li.nav-item
              a.nav-link(href=route('taskStatuses'))= t('layouts.application.taskStatuses')
        ul.navbar-nav
          if reply.request.signedIn
            li.nav-item
              a.nav-link(
                href=`/users/${currUserId}`
              ) !{reply.request.session.get('email')}
            li.nav-item
              +buttonTo(route('session'), 'delete')(class="btn nav-link" value=t('layouts.application.signOut'))
          else
            li.nav-item
              a.nav-link(href=route('newSession'))= t('layouts.application.signIn')
            li.nav-item
              a.nav-link(href=route('newUser'))= t('layouts.application.signUp')
    .container.h-100

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
        block header
      block content
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
      integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
      crossorigin="anonymous"
    )
